{% if CHANGELOGO_URL || CHANGELOGO_WIDTH || CHANGELOGO_HEIGHT %}
	{% if CHANGELOGO_URL %}
		{% set logo_url = CHANGELOGO_URL %}
		{% if not (logo_url starts with 'http://' or logo_url starts with 'https://') %}
			{% set logo_url = ROOT_PATH ~ CHANGELOGO_URL %}
		{% endif %}
	{% endif %}
<style>
.site_logo {
	{% if CHANGELOGO_URL %}background-image: url("{{ logo_url }}");{% endif %}
	{% if CHANGELOGO_WIDTH %}width: {{ CHANGELOGO_WIDTH }}px;{% endif %}
	{% if CHANGELOGO_HEIGHT %}height: {{ CHANGELOGO_HEIGHT }}px;{% endif %}
	background-size: contain;
}
</style>
{% endif %}
